
@font-face{
    font-family: 'RobotoSlab-Regular', sans-serif;
   
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
         url('../fonts/RobotoSlab-Regular.w0ff') format('woff');
    font-weight: 400;
    font-display: swap;
    
         
}
